@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:wght@400;700&display=swap');

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

.header {
      width: 100%;
      height: 8vh;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding-top: 10px;
}

.navigation-buttons {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #bbb7b779;
      border: none;
      border-radius: 50px;
      width: 40%;
      height: 40px;

}

.hamburger-menu {
      display: none;
}

.navigation-button {
      padding: 5px;
      border: none;
      border-bottom: 1px solid transparent;
      background-color: transparent;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      color: #000;
      transition: color 0.3s ease, border-bottom 0.3s ease;
}

.logo-title {
      font-family: "League Spartan", sans-serif;
      font-size: 24px;

}

.highlighted-title {
      color: #fa00f8;
}

h1 {
      font-family: "League Spartan", sans-serif;
      font-size: 45px;
      padding-top: 30px;
}

.active {
      color: #fa00f8;
}

.navigation-button:hover {
      color: rgba(176, 0, 192, 1);
      cursor: pointer;
      border-bottom: 1px solid rgba(87, 2, 95, 1);
}

.home-container {
      display: flex;
      align-items: center;
      justify-content: start;
      width: 100%;
      height: 100vh;
      background-image: url('/img/photo.jpg');
      background-size: cover;
      background-position: center;
      animation: slidein 50s infinite alternate;
}

.container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 450px;
      height: 450px;
      margin: 0 10%;
      background-color: #bbb7b744;
      border-radius: 15px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 6px 15px rgba(0, 0, 0, 0.1);

}

.text-content {
      display: flex;
      flex-direction: column;
      padding: 25px;
      width: 400px;
}

.text-info {
      font-family: 'Merriweather', serif;
      font-weight: 600;
      font-size: 14px;
      padding: 15px 0 15px 0;
}

.description {
      min-width: 400px;
      padding: 20px 0px 20px 0px;
}

.btn-more {
      padding: 10px;
      width: 180px;
      border: 1px solid rgb(137, 1, 150);
      border-radius: 20px;
      background-color: transparent;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      transition: background-color 0.3s ease, color 0.3s ease;
      appearance: none;
      color: #000;
}

.btn-more:hover {
      background-color: rgb(137, 1, 150);
      color: white;
      cursor: pointer;
}


.section-photos {
      width: 100%;
      height: 100vh;
      background-color: #000;
      display: flex;
      flex-direction: column;
      align-items: center;
}

.section-photos h1 {
      margin-top: 10px;
      color: #fad6a5;
      font-size: 2.5em;
}

.photos-container {
      width: 900px;
      height: 400px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 15px;
      padding-top: 40px;
}

.photos p {
      color: #ffffff;
      padding-left: 10px;
      width: 100%;
      height: 35px;
      align-content: center;
      background: linear-gradient(to top,
                  rgba(0, 0, 0, 1),
                  rgba(0, 0, 0, 0.9) 30%,
                  rgba(0, 0, 0, 0.7) 60%,
                  rgba(0, 0, 0, 0.5) 80%,
                  rgba(0, 0, 0, 0.2) 95%,
                  transparent 100%)
}

.photos {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: end;
      transition: filter 0.3s ease, transform 0.3s ease;

}

.photo1 {
      background-image: url('/img/nascimento.jpg');
      background-repeat: no-repeat;
      background-size: cover;

}

.photo2 {
      background-image: url('/img/batom.jpg');
      background-repeat: no-repeat;
      background-size: cover;
}

.photo3 {
      background-image: url('/img/casamento.jpg');
      background-repeat: no-repeat;
      background-size: cover;
}

.photo4 {
      background-image: url('/img//gestante.jpg');
      background-repeat: no-repeat;
      background-size: cover;
}

.photo5 {
      background-image: url('/img/bolo.jpg');
      background-repeat: no-repeat;
      background-size: cover;
}

.photo6 {
      background-repeat: no-repeat;
      background-image: url('/img/passaro.jpg');
      background-size: cover;
}

.photos:hover {
      transform: scale(1.2);
      cursor: pointer;
      z-index: 1;
}

.preto-e-branco {
      filter: grayscale(100%);
      transition: filter 0.3s;
}

.section-about {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
}

.about-container{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
      gap: 30px;
      flex-wrap: wrap;
}

.card{
      background-color: #f3f0f370;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      padding: 0px 50px;
      width: 300px;
      min-width: 300px;
      gap: 20px;
      height: 70vh;
      border: 1px solid transparent;
      border-radius: 15px;
      position: relative;
      transition: transform 0.5s ease, box-shadow 0.2s;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card > h3::before {
      content: "";
      display: block;
      width: 200px;
      height: 1px;
      background-color: #171616;
      margin: 5px auto 20px;
}


.card-img{
      width: 200px;
      height: 150px;
      border-radius: 20px;
}

.card > h3{
      color: #c33f0e;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
}

.btn-more-about{
      padding: 10px 20px;
      border: none;
      background-color: #c33f0e;
      color: #ffffff;
      font-weight: 600;
      border-radius: 30px;
}

.card:hover{
      cursor: pointer;
      border: 1px solid #3b3939;
      transform: scale(1.1);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}


@keyframes slidein {
      0% {
          background-position: center 10%;   
      }
      50% {
          background-position: center center; 
      }
      100% {
          background-position: center 10%; 
      }
  }

@keyframes fadeIn {
      from {
            opacity: 0;
      }

      to {
            opacity: 1;
      }
}

.fade-in {
      animation: fadeIn 3s ease-out forwards;
}


@media (max-width: 978px) {

      .container::after,
      .container::before {
            display: none;
      }


      .text-info {
            font-size: 12px;
      }


      .description {
            min-width: 250px;
            padding: 20px 0px 20px 0px;
      }

      h1 {
            font-size: 39px;
      }

      .photos-container {
            grid-template-columns: repeat(2, 150px);
            justify-content: center;
            width: 100%;
      }
}


@media (max-width: 668px) {
      .navigation-buttons {
            display: none;
      }

      .hamburger-menu {
            display: flex;
            height: 20px;
            width: 20px;
            position: relative;

      }

      .hamburger-menu span {
            height: 3px;
            width: 100%;
            background-color: #790054ab;
            border-radius: 25px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            transition: .3s ease;
      }

      .hamburger-menu span:nth-child(1) {
            top: 28%;
      }

      .hamburger-menu span:nth-child(3) {
            top: 50%;
      }

      .hamburger-menu.activated span:nth-child(3) {
            top: 40%;
            transform: translate(-50%, -50%) rotate(45deg);
      }

      .hamburger-menu.activated span:nth-child(2) {
            opacity: 0;
      }

      .hamburger-menu.activated span:nth-child(1) {
            top: 40%;
            transform: translate(-50%, -50%) rotate(-45deg);
      }

      .navigation-buttons {
            display: none;
            flex-direction: column;
            position: absolute;
            justify-content: start;
            background-color: white;
            width: 200px;
            height: 90vh;
            top: 50px;
            right: 0;
            z-index: 1;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
      }

      .navigation-buttons.side {
            display: flex;
      }

}


@media (max-width: 496px) {

      .text-content {
            width: 300px;
      }

      .text-content h1 {
            font-size: 35px;
      }

      .section-photos h1 {
            font-size: 25px;
      }
}

@media (max-width: 400px) {
      .section-photos h1 {
            padding-top: 29px;
      }

      .section-about {
            align-items: center;
            padding-top: 30px;
      }
}

@media (max-width: 360px) {
      .description {
            min-width: 200px;
            padding: 10px 0px 10px 0px;
      }

      .text-content {
            padding-left: 50px;
      }

      .home-container {
            justify-content: center;
      }

      .container {
            width: 90%;
            margin: 0;
      }
}