@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:wght@400;700&display=swap');

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

.header {
      width: 100%;
      height: 8vh;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding-top: 10px;
}

.navigation-buttons {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #bbb7b779;
      border: none;
      border-radius: 50px;
      width: 40%;
      height: 40px;

}

.hamburger-menu {
      display: none;
}

.navigation-button {
      padding: 5px;
      border: none;
      border-bottom: 1px solid transparent;
      background-color: transparent;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      color: #000;
      transition: color 0.3s ease, border-bottom 0.3s ease;
}

.logo-title {
      font-family: "League Spartan", sans-serif;
      font-size: 24px;

}

.highlighted-title {
      color: #fa00f8;
}

h1 {
      font-family: "League Spartan", sans-serif;
      font-size: 45px;
      padding-top: 30px;
}

.active {
      color: #fa00f8;
}

.navigation-button:hover {
      color: rgba(176, 0, 192, 1);
      cursor: pointer;
      border-bottom: 1px solid rgba(87, 2, 95, 1);
}

.home-section {
      display: flex;
      align-items: center;
      justify-content: start;
      width: 100%;
      height: 100vh;
      background-image: url('/img/photo.jpg');
      background-size: cover;
      background-position: center;
      animation: slidein 50s infinite alternate;
}

.container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 450px;
      height: 450px;
      margin: 0 10%;
      background-color: #bbb7b744;
      border-radius: 15px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 6px 15px rgba(0, 0, 0, 0.1);

}

.text-content {
      display: flex;
      flex-direction: column;
      padding: 25px;
      width: 400px;
}

.text-info {
      font-family: 'Merriweather', serif;
      font-weight: 600;
      font-size: 14px;
      padding: 15px 0 15px 0;
}

.description {
      min-width: 400px;
      padding: 20px 0px 20px 0px;
}

.btn-more {
      padding: 10px;
      width: 180px;
      border: 1px solid rgb(137, 1, 150);
      border-radius: 20px;
      background-color: transparent;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      transition: background-color 0.3s ease, color 0.3s ease;
      appearance: none;
      color: #000;
}

.btn-more:hover {
      background-color: rgb(137, 1, 150);
      color: white;
      cursor: pointer;
}


.photo-item {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: end;
      transition: filter 0.3s ease, transform 0.3s ease;

}


.about-section {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-height: 100vh;
      padding: 20px;
      box-sizing: border-box;
}

.about-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;
      width: 100%;
      max-width: 1200px;
}

.card {
      background-color: #f3f0f370;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      padding: 20px;
      width: 100%;
      max-width: 300px;
      gap: 20px;
      height: auto;
      min-height: 400px;
      border: 1px solid transparent;
      border-radius: 15px;
      transition: transform 0.5s ease, box-shadow 0.2s;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      position: relative;
}

.card>h3::before {
      content: "";
      display: block;
      width: 200px;
      height: 1px;
      background-color: #171616;
      margin: 5px auto 20px;
}


.card-img {
      width: 100%;
      max-width: 200px;
      height: 150px;
      border-radius: 20px;
}

.card>h3 {
      color: #c33f0e;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
}

.btn-more-about {
      padding: 10px 20px;
      border: none;
      background-color: #c33f0e;
      color: #ffffff;
      font-weight: 600;
      border-radius: 30px;
}

.card:hover {
      cursor: pointer;
      border: 1px solid #3b3939;
      transform: scale(1.1);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.album-section {
      position: relative;
      width: 100%;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #000;
}

.overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.9);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
      opacity: 1;
      transition: opacity 2.5s ease-out;
}

.overlay h1 {
      font-size: 3rem;
      color: #000;
      font-weight: bold;
      text-transform: uppercase;
}

.album-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      flex-wrap: wrap;
      width: 100%;
      min-height: 100vh;
      background: rgba(255, 255, 255, 0.35);
      backdrop-filter: blur(13.5px);
      padding: 2rem 3rem;
      opacity: 1;
}

.photo {
      width: 250px;
      height: 300px;
}

.photo>img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: none;
      border-radius: 15px;
      transition: filter 0.3s ease;
}



@keyframes slidein {
      0% {
            background-position: center 10%;
      }

      50% {
            background-position: center center;
      }

      100% {
            background-position: center 10%;
      }
}

@keyframes fadeIn {
      from {
            opacity: 0;
      }

      to {
            opacity: 1;
      }
}

.fade-in {
      animation: fadeIn 3s ease-out forwards;
}


@media (max-width: 978px) {

      .container::after,
      .container::before {
            display: none;
      }


      .text-info {
            font-size: 12px;
      }


      .description {
            min-width: 250px;
            padding: 20px 0px 20px 0px;
      }

      h1 {
            font-size: 39px;
      }

      .photo-list {
            grid-template-columns: repeat(2, 150px);
            justify-content: center;
            width: 100%;
      }
}

@media (max-width: 930px) {
      .about-container {
            flex-direction: column;
            gap: 20px;
            padding: 20px;
      }

      .card {
            width: 90%;
            max-width: 400px;
            height: auto;
            min-height: 300px;
      }

      .card-img {
            max-width: 150px;
            height: auto;
      }
}


@media (max-width: 668px) {
      .navigation-buttons {
            display: none;
      }

      .hamburger-menu {
            display: flex;
            height: 20px;
            width: 20px;
            position: relative;

      }

      .hamburger-menu span {
            height: 3px;
            width: 100%;
            background-color: #790054ab;
            border-radius: 25px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            transition: .3s ease;
      }

      .hamburger-menu span:nth-child(1) {
            top: 28%;
      }

      .hamburger-menu span:nth-child(3) {
            top: 50%;
      }

      .hamburger-menu.activated span:nth-child(3) {
            top: 40%;
            transform: translate(-50%, -50%) rotate(45deg);
      }

      .hamburger-menu.activated span:nth-child(2) {
            opacity: 0;
      }

      .hamburger-menu.activated span:nth-child(1) {
            top: 40%;
            transform: translate(-50%, -50%) rotate(-45deg);
      }

      .navigation-buttons {
            display: none;
            flex-direction: column;
            position: absolute;
            justify-content: start;
            background-color: white;
            width: 200px;
            height: 90vh;
            top: 50px;
            right: 0;
            z-index: 1;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
      }

      .navigation-buttons.side {
            display: flex;
      }

}


@media (max-width: 496px) {

      .text-content {
            width: 300px;
      }

      .text-content h1 {
            font-size: 35px;
      }

      .photo-section h1 {
            font-size: 25px;
      }

      .photo {
            width: 175px;
      }
}

@media (max-width: 400px) {
      .photo-section h1 {
            padding-top: 29px;
      }

      .about-section {
            align-items: center;
            padding-top: 30px;
      }
}

@media (max-width: 360px) {
      .description {
            min-width: 200px;
            padding: 10px 0px 10px 0px;
      }

      .text-content {
            padding-left: 50px;
      }

      .home-section {
            justify-content: center;
      }

      .container {
            width: 90%;
            margin: 0;
      }

      .album-container{
            padding: 1rem 1rem;
      }

      .photo{
            width: 140px;
            height: 200px;
      }
}